<include file="Public/Admin/tpl/header.html" />
<div class="smalldiv">
<button type="button" class="btn btn-green" data-toggle="dialog" data-id="UserCategoryAdd" data-url="<!--{:U('UserCategory/AddShow','',false)}-->" data-title="添加新用户分组">添加新用户分组</button>
</div>

		<form action="<!--{:U('UserCategory/DoSearch','',false)}-->" data-toggle="validate">
		 <table class='table table-bordered table-striped table-hover' style="margin:20px 0;">
			 <tbody>
				 <tr>
					<td>用户分组名称：</td>
					<td><input class="form-control" name="usercatename" data-rule="用户分组名称:length[1~];" placeholder="用户分组名称" type="text" value="<!--{$Think.session.condition_usercate.condition_usercatename}-->"></td>
					<td >发布时间：</td>
					<td >
					<input type="text" class="form-control" data-toggle="datepicker" name="publish_time" value="<!--{$_SESSION.condition_usercate.condition_publish_time}-->"  placeholder="发布时间" >
					</td>
				</tr>
				<tr>
					<td colspan=4>
					<a type="button" class="btn btn-orange" href="<!--{:U('UserCategory/Doclear','',false)}-->" data-toggle="doajax" data-id="UserCategoryConditionClear" style="float:right;">清空查询</a>
					<button class="btn btn-orange" type="submit" style="float:right;" >搜索</button>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	

		<table class="table table-bordered table-striped table-hover">
		<thead>
		<tr>
			<th data-order-field="usercate_id" >序号</th>
			<th>分组</th>
			<th data-order-field="create_time" >创建时间</th>
			<th colspan=2>操作</th>
		</tr>
		</thead>
		<tbody>
		<!--{<if condition='$usercatelist["UserCateList"]'>}-->
		<!--{<foreach name="usercatelist['UserCateList']" item="vo">}-->
		<tr>
			<td><!--{$vo.usercate_id}--></td>
			<td><!--{$vo.usercate_name}--></td>
			<td><!--{$vo.create_time}--></td>
			<td colspan=2>
				<button type="button" class="btn btn-blue" data-toggle="dialog" data-id="ArticleCategoryUpdate" data-url="<!--{:U('UserCategory/UpdateShow','',false)}-->/id/<!--{$vo.usercate_id}-->" data-title="修改">修改</button>
				<a type="button" class="btn btn-red" href="<!--{:U('UserCategory/DoDelete','',false)}-->/id/<!--{$vo.usercate_id}-->" data-toggle="doajax" data-confirm-msg="您确定要删除此条文章分组数据吗？" data-id="ArticleCategoryDelete">删除</a>
			</td>
		</tr>
		<!--{</foreach>}-->
		<!--{<else/>}-->
		<tr>
			<td colspan=8 style="text-align:center;height:50px;">暂无数据</td>
		</tr>
		<!--{</if>}-->
		</tbody>
		</table>


		<!--分页-->
		<div class="bjui-pageFooter" style="background:#fff;bottom:auto;position:static;margin:10px 0;height:40px;padding-top:5px;padding-left:25%;">
				<div class="pages">
					<span>每页&nbsp;</span>
					<div class="selectPagesize">
						<select data-toggle="selectpicker" data-toggle-change="changepagesize">
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</div>
					<span>&nbsp;条，共 <!--{$usercatelist['Page']['total']}--> 条</span>
				</div>
				<div class="pagination-box pull-left" data-toggle="pagination" data-total="<!--{$usercatelist['Page']['total']}-->" data-page-size="<!--{$usercatelist['Page']['size']}-->" data-page-current="<!--{$usercatelist['Page']['current']}-->"></div>
		</div>


		<!--排序 分页-->
		<form  id="pagerForm" action="<!--{:U('UserCategory/DoOrder','',false)}-->" >
			<input type="hidden" name="pageSize" value="<!--{$usercatelist['Page']['size']}-->"><!-- 页大小 -->
			<input type="hidden" name="pageCurrent" value="<!--{$usercatelist['Page']['current']}-->"><!-- 当前页 -->
			<input type="hidden" name="orderField" value="<!--{:I('session.ArticleCategory_orderField','usercate_id')}-->"><!-- 排序字段 -->
			<input type="hidden" name="orderDirection" value="<!--{:I('session.ArticleCategory_orderDirection','desc')}-->"> <!-- 排序方向 -->
		</form>

<include file="Public/Admin/tpl/footer.html" />