<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Content</title>
 </head>
 <body style="background:#EBC79E;">
	
	<ul>
		<li><a href="<!--{:U('Content/index','',false)}-->" target = "myframe">首页</a></li>
		<li><a href="<!--{:U('ArticleCategory/index','',false)}-->" target = "myframe">文章分组管理</a></li>
		<li><a href="<!--{:U('Article/index','',false)}-->" target = "myframe">文章管理</a></li>
		<li><a href="<!--{:U('Comment/index','',false)}-->" target = "myframe">评论管理</a></li>
		<li><a href="<!--{:U('UserCategory/index','',false)}-->" target = "myframe">用户分组管理</a></li>
		<li><a href="<!--{:U('User/index','',false)}-->" target = "myframe">用户管理</a></li>
		<li><a href="<!--{:U('System/index','',false)}-->" target = "myframe">系统管理</a></li>
	</ul>
 </body>
</html>