<include file="Public/Admin/tpl/header.html" />
<div class="smalldiv">
	<button type="button" class="btn btn-green" data-toggle="dialog" data-id="ArticleCategoryAdd" data-url="<!--{:U('ArticleCategory/AddShow','',false)}-->" data-title="添加文章分组">添加文章分组</button>
</div>

	<form action="<!--{:U('ArticleCategory/DoSearch','',false)}-->" data-toggle="validate">
	 <table class='table table-bordered table-striped table-hover' style="margin:20px 0;">
		 <tbody>
			 <tr>
				<td>文章分组名称：</td>
				<td><input class="form-control" name="catename" data-rule="文章分组名称:length[1~];" placeholder="分组名称" type="text" value="<!--{$Think.session.condition_articlecate.condition_catename}-->"></td>
			</tr>
			<tr>
				<td colspan=2>
				<a type="button" class="btn btn-orange" href="<!--{:U('ArticleCategory/Doclear','',false)}-->" data-toggle="doajax" data-id="ArticleCategoryConditionClear" style="float:right;">清空查询</a>
				<button class="btn btn-orange" type="submit" style="float:right;" >搜索</button>
				</td>
			</tr>
		</tbody>
	</table>
	</form>

	<table class='table table-bordered table-striped table-hover'>
	<thead> 
		<tr>
			<th data-order-field="articlecate_id" >序号</th>
			<th data-order-field="articlecate_name">文章分组名称</th>
			<th colspan=2>操作</th>
		</tr>
	</thead>

	<tbody>
		<!--{<if condition="$ArticleCateList['ArticleCateList']">}-->
		<!--{<foreach name="ArticleCateList['ArticleCateList']" item="vo">}-->
		<tr>
				<td><!--{$vo.articlecate_id}--></td>
				<td><!--{$vo.html}-->【<!--{$vo.articlecate_name}-->】</td>
				<td colspan=2>
				<button type="button" class="btn btn-blue" data-toggle="dialog" data-id="ArticleCategoryUpdate" data-url="<!--{:U('ArticleCategory/UpdateShow','',false)}-->/id/<!--{$vo.articlecate_id}-->" data-title="修改">修改</button>
				<a type="button" class="btn btn-red" href="<!--{:U('ArticleCategory/DoDelete','',false)}-->/id/<!--{$vo.articlecate_id}-->" data-toggle="doajax" data-confirm-msg="您确定要删除此条文章分组数据吗？" data-id="ArticleCategoryDelete">删除</a>
				</td>
		</tr>
		<!--{</foreach>}-->
		<!--{<else/>}-->
		<tr>
			<td colspan=4 style="text-align:center;height:50px;">暂无数据</td>
		</tr>
		<!--{</if>}-->
	</tbody>
	</table>

	<!--分页-->
	<div class="bjui-pageFooter" style="background:#fff;bottom:auto;position:static;margin:10px 0;height:40px;padding-top:5px;padding-left:25%;">
			<div class="pages">
				<span>每页&nbsp;</span>
				<div class="selectPagesize">
					<select data-toggle="selectpicker" data-toggle-change="changepagesize">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
				<span>&nbsp;条，共 <!--{$ArticleList['Page']['total']}--> 条</span>
			</div>
			<div class="pagination-box pull-left" data-toggle="pagination" data-total="<!--{$ArticleCateList['Page']['total']}-->" data-page-size="<!--{$ArticleCateList['Page']['size']}-->" data-page-current="<!--{$ArticleCateList['Page']['current']}-->"></div>
	</div>


	<!--排序 分页-->
	<form  id="pagerForm" action="<!--{:U('ArticleCategory/DoOrder','',false)}-->" >
		<input type="hidden" name="pageSize" value="<!--{$ArticleCateList['Page']['size']}-->"><!-- 页大小 -->
		<input type="hidden" name="pageCurrent" value="<!--{$ArticleCateList['Page']['current']}-->"><!-- 当前页 -->
		<input type="hidden" name="orderField" value="<!--{:I('session.ArticleCategory_orderField','articlecate_id')}-->"><!-- 排序字段 -->
		<input type="hidden" name="orderDirection" value="<!--{:I('session.ArticleCategory_orderDirection','desc')}-->"> <!-- 排序方向 -->
	</form>


<include file="Public/Admin/tpl/footer.html" />